@CHARSET "UTF-8";

	
	body {
	  height: 100%;
	  width: 100%;
	  margin: auto;
	  background: url("../img/bg.jpg") #333333;
	  background-size: cover;
	  position: absolute;
	}
	
	body::before {
	  content: '';
	  will-change: transform;
	  z-index: -1;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  top: 0;
	  position: fixed;
	  background-image: url("../img/bg_mask.png");
	}
	
	
	.blue-text {
		color: #0098b6;
	}
	
	.red-text {
		color: #c9462c;
	}
	.accroche-accueil {
    	font-weight: 700;
    	font-size: 45px;
	}
	
	.wrapper-ughz {
	    /* display: block; */
	    margin: auto;
	    max-width: 800px;
	    padding: 20px;
	    /* vertical-align: middle; */
	    margin-top: 50vh;
	    transform: translateY(-50%);
	    text-align: center;
	    /* overflow-y: auto; */
	    font-family: "Roboto","Helvetica","Arial",sans-serif;
    }
    
    .buttons-a-ughz {
    	display: inline-block;
	    background-color: #c9462c !important;
	    color: #FFFFFF !important;
	    text-align: center;
	    margin: 20px;
	    padding: 20px;
    
        background: rgba(158,158,158,.2);
    	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    	
    	text-transform: uppercase;
    	font-size: 14px;
    	font-weight: 500;
    	text-decoration: none;
    }
    
    .button-label-line {
    	display: block;
    }
    
    .bigger.button-label-line {
        font-size: 18px;
    	font-weight: 900;
    }
	
	@media screen and (max-height: 320px) {
	.wrapper-ughz {
		transform: initial;
		margin-top: initial;
		border-radius: initial;
	}
	
	/* Colonnage */
[class*=grid-] {
	margin-left: -1em;
}

[class*=grid-]::after {
	content:"";
	display:block;
	clear:both;
}

[class*=grid-] > div {
	float: left;
	word-break: break-word;
	margin-left: 1em;
}

.grid-2 > div {
	width: calc(50% - 1em - 0.01px);
}

.grid-3 > div {
	width: calc(100% * 1 / 3 - 1em - 0.01px);
}

.grid-4 > div {
	width: calc(100% * 1 / 4 - 1em - 0.01px);
}

.grid-3-1>:nth-child(odd), .grid-1-3>:nth-child(even) {
    width: calc(75% - 1em - 0.01px);
}

.grid-3-1>:nth-child(even), .grid-1-3>:nth-child(odd) {
    width: calc(25% - 1em - 0.01px);
}

.grid-2-1>:nth-child(odd), .grid-1-2>:nth-child(even) {
    width: calc(100% * 2 / 3 - 1em - 0.01px);
}

.grid-2-1>:nth-child(even), .grid-1-2>:nth-child(odd) {
    width: calc(100% * 1 / 3 - 1em - 0.01px);
}
/** Fin de la section Colonnage **/

