/* body {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url("bg.jpg") #333333;
  background-size: cover;
  position: absolute;
}

body::before {
  content: '';
  will-change: transform;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  background-image: url("bg_mask.png");
} */

.wrapper {
/*   display: block;
  margin: auto;
  max-width: 800px;
  padding: 20px;
  vertical-align: middle;
  margin-top: 50vh;
  transform: translateY(-50%);
  text-align: center;
  overflow-y: auto; */
/*   color: #FFFFFF;
  background-color: #0098b6; */
}

/* .mdl-card__actions.mdl-card--border  {
  padding-bottom: initial;
}

.mdl-card__supporting-text h3 {
  text-align: center;
}

.mdl-card.encart-accueil {
	background : none;
}

.groupe-boutons-accueil {
	margin-top:1em;
}

h2 {
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 18px;
  text-align: justify;
  margin: 16px 0 16px;
  padding-right: 30px;
  padding-left: 30px;
} */

/* .buttons a{
	
	display: inline-block;

	background-color: #c9462c !important;
	color: #FFFFFF !important;
	text-align:center;
	margin: 20px;
	padding: 20px;
} */

/* .lil {
	margin-top:-13px;
	margin-bottom:-15px;
	font-size: 14px;
	display:block;
	text-align:center;
}

.lig {
	font-size: 18px;
	font-weight: 900;
}
 */
/*
.big {
  display: inline-block;
  height: 60px;
  width: 91px;
  font-size: 12px;
  line-height: 14px;
  margin-left: 4px;
  vertical-align: middle;
}

.footer > a {
  color: rgba(255,255,255,.42);
  text-decoration: none;
}

.footer {
  color: rgba(255,255,255,.32);
  text-align: center;
}

.copy-left{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -khtml-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}
*/

/* Colonnage */
[class*=grid-] {
	margin-left: -1em;
}

[class*=grid-]::after {
	content:"";
	display:block;
	clear:both;
}

[class*=grid-] > div {
	float: left;
	word-break: break-word;
	margin-left: 1em;
}

.grid-2 > div {
	width: calc(50% - 1em - 0.01px);
}

.grid-3 > div {
	width: calc(100% * 1 / 3 - 1em - 0.01px);
}

.grid-4 > div {
	width: calc(100% * 1 / 4 - 1em - 0.01px);
}

.grid-3-1>:nth-child(odd), .grid-1-3>:nth-child(even) {
    width: calc(75% - 1em - 0.01px);
}

.grid-3-1>:nth-child(even), .grid-1-3>:nth-child(odd) {
    width: calc(25% - 1em - 0.01px);
}

.grid-2-1>:nth-child(odd), .grid-1-2>:nth-child(even) {
    width: calc(100% * 2 / 3 - 1em - 0.01px);
}

.grid-2-1>:nth-child(even), .grid-1-2>:nth-child(odd) {
    width: calc(100% * 1 / 3 - 1em - 0.01px);
}
/** Fin de la section Colonnage **/


@media screen and (max-height: 320px) {
/* 	.wrapper {
		transform: initial;
		margin-top: initial;
		border-radius: initial;
	} */
	
	/** Colonnage **/
	[class*=grid-] {
		margin: 0;
	}
	
	[class*=grid-] > div:nth-child(n) {
		float: none;
		width: 100%;
		margin: 0;
	}	
	
	/** Fin de la section Colonnage **/
}
